#categoryChipsWraper{
    width: 100vw;
    padding: 4px;
    box-sizing: border-box;
}
#categoryChips{
    padding: 8px;
    scrollbar-width: none;
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 16px,
        black calc(100% - 16px),
        transparent
    );
}
#categoryChips::-webkit-scrollbar {
  display: none;
}