#searchFAB{
	position: fixed;
	bottom: 64px;
	right: 0;
	margin: 0 16px 16px 0;
	z-index: 800;
	--_icon-size: 24px;
	translate: 0 0;
	scale: 1;
	opacity: 1;
	pointer-events: auto;
	will-change: translate, scale, opacity;
	transition: 
		translate 0.3s cubic-bezier(0.2, 0, 0, 1), 
		scale 0.3s cubic-bezier(0.2, 0, 0, 1), 
		opacity 0.3s cubic-bezier(0.2, 0, 0, 1);
}
#searchFAB.suspended{
	translate: 0 -112px;
}
#searchFAB.open{
	translate: 80px -112px;
}
#searchFAB.exit{
	opacity: 0;
	scale: 0.1;
	pointer-events: none;
}

#productGrid {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 8px;
	column-gap: 8px;
	row-gap: 8px;
}
#productGrid .productGridItem{
	position: relative;
	padding: 8px;
	border-radius: 8px;
	max-width: calc(50vw - 12px);
	box-sizing: border-box;
	background-color: var(--color-scheme-secondary-container);
	animation: fadeIn 0.3s cubic-bezier(0.2, 0, 0, 1) forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#productGrid .productGridItem .productFavBtn{
	position: absolute;
	top: 8px;
	right: 8px;
	--md-sys-color-primary: red;
}
#productGrid .productGridItem img{
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	border-radius: 8px;
}
#productGrid .productGridItem .gridProductHeadline{
	display: flex;
  flex-direction: column;
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
}
.gridProductHeadline > .headlineFirstLine{
	display: flex;
  gap: 4px;
  width: 100%;
  overflow: hidden;
}
.headlineFirstLine > .productBrandTag {
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden;
  flex-shrink: 1;
  opacity: 0.8;
}
.headlineFirstLine > .productNameTag {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
  font-weight: bold;
}
.gridProductHeadline > .headlineSecondLine {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
  opacity: 0.8;
}

/* has to be redone */

#productGrid .productGridItem > div{
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}
#productGrid .productGridItem > div div.gridProductPrice{
	display: inline-flex;
	align-items: baseline;
	justify-content: flex-start;
}
#productGrid .productGridItem > div div.gridProductPrice span{
	font-size: 24px;
	font-weight: 800;
}
#productGrid .productGridItem div div.gridProductPrice sup{
	font-size: 12px;
	font-weight: 800;
	align-self: start;
}
#productGrid .productGridItem div div.gridProductPrice div{
	font-size: 12px;
	font-weight: 400;
}

#productGrid .productGridItem div .addToBasketBtn{
	
	--md-outlined-icon-button-container-shape: 8px;
	--md-outlined-icon-button-selected-container-color: var(--color-scheme-primary);
}

