#exploreContainer{
	padding-top: 48px;
}
#searchFAB{
	position: fixed;
	bottom: 64px;
	right: 0;
	margin: 0 16px 16px 0;
	z-index: 800;
	--_icon-size: 24px;
	translate: 0 0;
	scale: 1;
	opacity: 1;
	pointer-events: auto;
	will-change: translate, scale, opacity;
	transition: 
		translate 0.3s cubic-bezier(0.2, 0, 0, 1), 
		scale 0.3s cubic-bezier(0.2, 0, 0, 1), 
		opacity 0.3s cubic-bezier(0.2, 0, 0, 1);
}
#searchFAB.suspended{
	translate: 0 -112px;
}
#searchFAB.open{
	translate: 80px -112px;
}
#searchFAB.exit{
	opacity: 0;
	scale: 0.1;
	pointer-events: none;
}



#productGrid {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 8px;
	column-gap: 8px;
	row-gap: 8px;
}
#productGrid > .productGridItem{
	position: relative;
	border-radius: 8px;
	max-width: calc(50vw - 12px);
	box-sizing: border-box;
	background-color: var(--color-scheme-secondary-container);
	animation: fadeIn 0.3s cubic-bezier(0.2, 0, 0, 1) forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.productGridItem > .productGridArea{
	display: flex;
	flex-direction: column;
	padding: 8px;
}
.productGridItem > .productGridArea span{
	color: var(--color-scheme-on-secondary-container);
}
.productGridArea > img{
	width: 100%;
	height: auto;
	aspect-ratio: 6 / 5;
	object-fit: contain;
	background-color: white;
	border-radius: 8px;
}
.productGridArea > .gridProductDetails{
	display: flex;
  flex-direction: column;
  overflow: hidden;
	margin-bottom: 36px;
}
.gridProductDetails > .productBrandTag {
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden;
  flex-shrink: 1;
  opacity: 0.8;
}
.gridProductDetails > .productNameTag {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
  font-weight: bold;
}
.gridProductDetails > .productFlavourTag {
  display: block;
  white-space: nowrap;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.productGridItem > div.productLimEdAlert{
	position: absolute;
	top: 10px;
	left: 6px;
	background-color: var(--color-scheme-error-container);
	padding: 4px;
	border-radius: 8px;
	display: flex;
	gap: 2px;
	align-items: center;
	transform: rotate(-10deg);	
}
div.productLimEdAlert > md-icon{
	--md-icon-size: 16px;
}
div.productLimEdAlert > span{
	font-size: 12px;
}
.productGridItem > md-icon-button.productFavBtn{
	position: absolute;
	top: 8px;
	right: 8px;
	--md-sys-color-primary: red;
}
.productGridItem > div.productDetailsPrice{
	position: absolute;
	bottom: 12px;
	left: 8px;
	display: inline-flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: flex-start;
}
.productGridItem > md-divider{
	position: absolute;
	bottom: 44px;
	left: 8px;
	width: calc(100% - 62px);
	--md-divider-thickness: 2px;
}
div.productDetailsPrice > span, div.productDetailsPrice > sup{
	color: var(--color-scheme-on-secondary-container);
}
div.productDetailsPrice > span{
	font-size: 24px;
	font-weight: 800;
}
div.productDetailsPrice > sup{
	font-size: 14px;
	font-weight: 800;
	align-self: start;
}
.productGridItem > md-outlined-icon-button.addToBasketBtn{
	position: absolute;
	bottom: 8px;
	color: red;
	right: 8px;
	--md-outlined-icon-button-container-shape: 8px;
	--md-outlined-icon-button-selected-container-color: var(--color-scheme-primary);
}
.productDetailsPrice > md-icon{
	color: red;
	margin-left: 4px;
}