#navBar{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	justify-content: space-evenly;
	background-color: rgb(197, 0, 0);
	width: 100vw;
	padding: 6px 0;
	height: 52px;
	z-index: 10;
}
#navBar > .navItem{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 4px;
	text-align: center;
	padding: 0;
	flex-grow: 1;
}
#navBar > .navItem > .navItemIcon{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	height: 32px;
	width: 56px;
}
#navBar > .navItem > .navItemIcon::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 16px;
	z-index: -1;
	transform: scaleX(0.57); 
	will-change: transform, background-color;
	transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1), background-color 0.3s cubic-bezier(0.2, 0, 0, 1);
}
#navBar .navItem .navItemIcon.active::before{
	background-color: rgba(0, 0, 0, 0.25);
	transform: scaleX(1);
}
#navBar .navItem .navItemIcon > md-icon{
	height: 32px;
	width: 32px;
	z-index: 1;
}
#navBar > .navItem > .navItemName{
	line-height: 16px;
}
#navBar > .navItem > .navItemName.active{
	font-weight: 500;
}
#navItemIconContribute{
	font-size: 28px;
	width: 28px;
	font-weight: 400;
}
#navBar .navItem .navItemIcon.active #navItemIconContribute{
	font-weight: 600;
}