.productPage{
	background-color: var(--color-scheme-surface);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	padding-top: 114px;
	padding-bottom: 63px;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	transform: scale(0.92);
	opacity: 0;
	pointer-events: none;
	will-change: transform, opacity;
	transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1), opacity 0.3s cubic-bezier(0.2, 0, 0, 1);
}
.productPage.open{
  opacity: 1;
	transform: scale(1);
	pointer-events: auto;
}
.productPage md-divider{
	flex-shrink: 0;
}
.productPage > md-list-item.productPageRibbon{
	background-color: var(--color-scheme-secondary-container);
	padding: 0;
	--md-list-item-one-line-container-height: 32px;
	--md-list-item-bottom-space: 0;
	--md-list-item-top-space: 0;
}
md-list-item.productPageRibbon > md-icon{
	--md-icon-size: 28px;
	color: var(--color-scheme-on-secondary-container);
}
md-list-item.productPageRibbon > div[slot=headline]{
	color: var(--color-scheme-on-secondary-container);
}


.productPage > .productPageContent{
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	scrollbar-width: none;
}
.productPageContent > .productHeadline{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 8px;
	align-items: center;
	padding: 6px 12px;
}
.productHeadline > img{
	box-sizing: border-box;
	width: 75vw;
	border-radius: 8px;
	margin-top: 32px;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	background-color: white;
}
.productHeadline > .productDescription{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}
.productDescription > .textCardBandName{
	--tc-headline-font-size: 26px;
}
.productDescription > .FlavoursQuantity{
	display: flex;
	flex-direction: row;
	gap: inherit;
	width: 100%;
}
.FlavoursQuantity > .textCardFlavour, 
.FlavoursQuantity > .QuantityVegan{
	flex-grow: 1;
}
.FlavoursQuantity > .QuantityVegan{
	display: flex;
	flex-direction: column;
	gap: inherit;
}
.QuantityVegan > .textCardQuantity{
	--tc-headline-font-size: 32px;
	--tc-padding: 10px;
}
.QuantityVegan > .textCardVegan.green{
	--tc-bg-color: var(--color-scheme-primary-container);
	--tc-headline-text-color: var(--color-scheme-on-primary-container);
}
.textCardVegan.green md-icon{
	color: var(--color-scheme-on-primary-container);
}
.QuantityVegan > .textCardVegan.red{
	--tc-bg-color: var(--color-scheme-error-container);
	--tc-headline-text-color: var(--color-scheme-on-error-container);
}
.textCardVegan.red md-icon{
	color: var(--color-scheme-on-error-container);
}

.productPageContent > .productActions{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	padding: 6px 12px;
}
/*fav btn*/
.productPageContent .productActions .productFavBtn{
	--md-sys-color-primary: red;
	--_container-shape-start-start: 8px;
	--_container-shape-start-end: 8px;
	--_container-shape-end-start: 8px;
	--_container-shape-end-end: 8px;
}
/* Cart Btn */
.productPageContent .productActions .productAddCartBtn{
	display: flex;
	flex-grow: 1;
	--_outline-width: 1px;
	--_container-shape-start-start: 8px;
	--_container-shape-start-end: 8px;
	--_container-shape-end-start: 8px;
	--_container-shape-end-end: 8px;
}


.productPageContent > .productShopsList{
	gap: 4px;
	background-color: var(--color-scheme-surface);
	padding: 6px;
}
.productShopsList > .productShopCard{
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 8px;
	border-radius: 20px;
	padding: 8px;
	background-color: var(--color-scheme-error-container);
	background-image: radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.25) 3%, transparent 10%)
}
.productShopsList > md-divider{
	padding: 0 14px;
}
.productShopCard > .productShopHeadline{
	display: flex;
	gap: 4px;
}
.productShopHeadline > md-list-item.shop-button{
	flex-grow: 1;
	border-radius: 16px 8px 8px 16px;
	gap: 10px;
	--md-list-item-top-space: 0;
	--md-list-item-bottom-space: 0;
	--md-list-item-leading-space: 0;
	--md-list-item-trailing-space: 8px;
	--md-list-item-label-text-size: 20px;
	--md-list-item-label-text-weight: 550;
	--md-list-item-supporting-text-size: small;
	--md-list-item-supporting-text-weight: 450;
	background-color: var(--color-scheme-primary-container);
}
md-list-item.shop-button > img{
	background-color: var(--color-scheme-primary-container);
	width: 25vw;
	height: auto;
	aspect-ratio: 1 / 1;
}
md-list-item.productPriceButton{
	height: 100%;
	border-radius: 8px 16px 16px 8px;
	background-color: var(--color-scheme-tertiary-container);
	--md-list-item-top-space: 8px;
	--md-list-item-bottom-space: 8px;
	--md-list-item-leading-space: 8px;
	--md-list-item-trailing-space: 10px;
}
md-list-item.productPriceButton > div.productPrice{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
div.productPrice > .productPriceNumeral > span{
	font-size: 32px;
	font-weight: 800;
}
div.productPrice > .productPriceNumeral > sup{
	font-size: 20px;
	font-weight: 600;
}
div.productPrice > div.IconPLUSDate{
  display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 4px;
	--md-icon-size: 28px;
}
div.IconPLUSDate > span.dateUpdated{
	align-self: center;
	font-size: 13px;
	font-weight: 500;
}

.productShopCard > .productDiscount{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
}
.productDiscount > md-icon.arrow_downward, .productDiscountOffer > md-icon{
	--md-icon-size: 32px;
}
.productDiscount > .productDiscountDetailsIndicator{
	position: absolute;
	bottom: 0;
	right: 0;
}
.productDiscount > .productDiscountOffer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	width: 100%;
}
.productDiscountOffer > .requirement{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	overflow: hidden;
}
.productDiscountOffer > .requirement > img{
	width: 60%;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	background-color: var(--color-scheme-error-container);
}
.productDiscountOffer > .requirement > span{
	display: block;
	text-align: center;
	line-height: 1rem;
	max-height: 2rem;
	text-overflow: ellipsis;
}
.productDiscount > .productDiscountReward{
	display: flex;
	flex-direction: row;
	height: 25vw;
	border-radius: 14px;
	border: 1px solid var(--color-scheme-outline);
}
.productDiscountReward > img{
	width: auto;
	height: 100%;
	border-radius: 14px 0 0 14px;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	background-color: var(--color-scheme-error-container);
}
.productDiscountReward > .RewardDetails{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 6px;
	flex-grow: 1;
}
.RewardDetails > .RewardDetailsName{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.RewardDetails > .RewardDetailsPrice{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--color-scheme-on-error);
	background-color: var(--color-scheme-error);
	padding: 2px;
	border-radius: 8px;
}
.RewardDetailsPrice > b{
	font-size: 20px;
}
