#searchFeature{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: scale(0.92);
    opacity: 0;
    z-index: 9001;
    pointer-events: none;
    will-change: transform, opacity;
    transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1), opacity 0.3s cubic-bezier(0.2, 0, 0, 1);
}
#searchFeature.open{
    opacity: 1;
    pointer-events: auto;
}
#searchFeature.open #searchTextField{
    pointer-events: auto;
    opacity: 1;
}
#searchFeature.open .autocompleteSearch{
    pointer-events: auto;
    opacity: 1;
}

#searchTextField{
    width: 100vw;
    height: 72px;
    opacity: 0;
    --md-filled-text-field-with-leading-icon-leading-space: 16px;
    --md-filled-text-field-with-trailing-icon-trailing-space: 16px;
    transition: all 0.7s ease-in-out;
}
#searchFeature .autocompleteSearch{
    opacity: 0;
    transition: all 1s ease-in-out;
}
#searchFeature .autocompleteSearch md-list-item{
    --md-list-item-leading-space: 56px;
}

#searchViewWindow{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    transform: translateX(60px) translateY(4px);
    width: calc(100vw - 120px);
    height: 56px;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s cubic-bezier(1, 0, 1, 0),width 0.3s cubic-bezier(1, 0, 1, 0), height 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease-in-out;
    
}
#searchViewWindow.open{
    transform: translateX(0) translateY(0);
    width: 100vw;
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease-in-out;

}
