

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('/node_modules/@fontsource-variable/material-symbols-outlined/files/material-symbols-outlined-latin-wght-normal.woff2') format('woff2');
}




body{
	margin: 0px; font-family: 'Roboto Variable', sans-serif; background-color: antiquewhite;
}
 
div:not(.material-symbols-outlined), 
span:not(.material-symbols-outlined), 
button:not(.material-symbols-outlined), 
input:not(.material-symbols-outlined) {
  font-family: 'Roboto Variable', sans-serif !important;
}

*:not(md-icon)::part(label), 
*:not(md-icon)::part(headline), 
*:not(md-icon)::part(supporting-text) {
  font-family: 'Roboto Variable', sans-serif !important;
}

#page{
	margin-top: 150px;
	margin-bottom: 136px;
}

.no-color{
	text-decoration: none;
	color: inherit;
}

md-divider{
	padding: 0 5%;
}

#searchFAB{
	position: fixed;
	bottom: 64px;
	right: 0;
	margin: 0 16px 16px 0;
	z-index: 1100;
	--_icon-size: 24px;
	transform: translateX(0) translateY(0);
	transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#searchFAB.suspended{
	transform: translateY(-112px);
}
#searchFAB.open{
	transform: translateX(80px) translateY(-112px);
}

md-menu{
  --md-menu-container-shape: 8px;
}

md-icon, .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}