

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('/node_modules/@fontsource-variable/material-symbols-outlined/files/material-symbols-outlined-latin-wght-normal.woff2') format('woff2');
}


img{
  backface-visibility: hidden;
  transform: translateZ(0);
}

body{
	margin: 0px; font-family: 'Roboto Variable', sans-serif; background-color: antiquewhite;
}
 
div:not(.material-symbols-outlined), 
span:not(.material-symbols-outlined), 
button:not(.material-symbols-outlined), 
input:not(.material-symbols-outlined) {
  font-family: 'Roboto Variable', sans-serif !important;
}

*:not(md-icon)::part(label), 
*:not(md-icon)::part(headline), 
*:not(md-icon)::part(supporting-text) {
  font-family: 'Roboto Variable', sans-serif !important;
}

md-filter-chip, md-filled-text-field{
  --md-ref-typeface-plain: 'Roboto Variable', sans-serif;
}

.no-color{
	text-decoration: none;
	color: inherit;
}

md-divider{
	padding: 0 5%;
}

md-menu{
  --md-menu-container-shape: 8px;
}

md-icon, .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}




.temporaryStyle{
	display: flex;
  flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.temporaryStyle > md-icon{
	--md-icon-size: 60vw;
	opacity: 0.3;
}
.temporaryStyle > div{
  font-size: 32px;
}