
/* colors */

:root {
  --color-scheme-primary: #4c662b;
  --color-scheme-on-primary: #ffffff;
  --color-scheme-primary-container: #cdeda3;
  --color-scheme-on-primary-container: #354e16;

  --color-scheme-secondary: #586249;
  --color-scheme-on-secondary: #ffffff;
  --color-scheme-secondary-container: #dce7c8;
  --color-scheme-on-secondary-container: #404a33;

  --color-scheme-tertiary: #386663;
  --color-scheme-on-tertiary: #ffffff;
  --color-scheme-tertiary-container: #bcece7;
  --color-scheme-on-tertiary-container: #1f4e4b;

  --color-scheme-surface: #f9faef;
  --color-scheme-surface-dim: #dadbd0;
  --color-scheme-on-surface: #1a1c16;
  --color-scheme-on-surface-variant: #44483d;
  --color-scheme-surface-container-low: #f3f4e9;
  --color-scheme-outline: #75796c;
  --color-scheme-outline-variant: #c5c8ba;
  --color-scheme-surface-container: #eeefe3;
  --color-scheme-surface-container-high: #e8e9de; 
  --color-scheme-surface-container-highest: #e2e3d8;
  --color-scheme-inverse-surface: #2f312a;
  --color-scheme-inverse-on-surface: #f1f2e6;
  --color-scheme-error: #ba1a1a;
  --color-scheme-on-error: #ffffff;
  --color-scheme-error-container: #ffdad6;
  --color-scheme-on-error-container: #93000a;


  --md-sys-color-surface: var(--color-scheme-surface);
  --md-sys-color-on-surface: var(--color-scheme-on-surface);
  --md-sys-color-surface-container: var(--color-scheme-surface-container);
  --md-sys-color-secondary-container: var(--color-scheme-secondary-container);
  --md-sys-color-on-secondary-container: var(--color-scheme-on-secondary-container);
  --md-sys-color-on-surface-variant: var(--color-scheme-on-surface-variant);
  --md-sys-color-surface-container-low: var(--color-scheme-surface-container-low);
  --md-sys-color-outline: var(--color-scheme-outline);
  --md-sys-color-primary: var(--color-scheme-primary);
  --md-sys-color-surface-container-highest: var(--color-scheme-surface-container-highest);
  --md-sys-color-on-primary: var(--color-scheme-on-primary);
  --md-sys-color-inverse-surface: var(--color-scheme-inverse-surface);
  --md-sys-color-inverse-on-surface: var(--color-scheme-inverse-on-surface);
  --md-sys-color-outline-variant: var(--color-scheme-outline-variant);
  --md-sys-color-tertiary-container: var(--color-scheme-tertiary-container);
  --md-sys-color-on-tertiary-container: var(--color-scheme-on-tertiary-container);
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('/node_modules/@fontsource-variable/material-symbols-outlined/files/material-symbols-outlined-latin-wght-normal.woff2') format('woff2');
}


img{
  backface-visibility: hidden;
  transform: translateZ(0);
}

body{
	margin: 0px; 
  font-family: 'Roboto Variable', sans-serif;
  overflow: hidden;
}
 
div:not(.material-symbols-outlined), 
span:not(.material-symbols-outlined), 
button:not(.material-symbols-outlined), 
input:not(.material-symbols-outlined) {
  font-family: 'Roboto Variable', sans-serif !important;
}

*:not(md-icon)::part(label), 
*:not(md-icon)::part(headline), 
*:not(md-icon)::part(supporting-text) {
  font-family: 'Roboto Variable', sans-serif !important;
}

md-filter-chip, md-filled-text-field, md-outlined-button, md-text-button{
  --md-ref-typeface-plain: 'Roboto Variable', sans-serif;
}

.no-color{
	text-decoration: none;
	color: inherit;
}

md-menu{
  --md-menu-container-shape: 8px;
}

md-icon, .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}




.temporaryStyle{
	display: flex;
  flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.temporaryStyle > md-icon{
	--md-icon-size: 60vw;
	opacity: 0.3;
}
.temporaryStyle > div{
  font-size: 32px;
}