.text-card{
  position: relative;
  box-sizing: border-box;
  width: var(--tc-width);
  height: var(--tc-height);
  max-height: fit-content;
  border-radius: var(--tc-border-radius, 20px);
  padding: var(--tc-padding, 14px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  background-color: var(--tc-bg-color, var(--md-sys-color-tertiary-container, #825345));
}
.text-card > .supporting-text{
  font-size: var(--tc-supporting-text-font-size, 14px);
  color: var(--tc-supporting-text-color, var(--md-sys-color-on-tertiary-container, #663c2f));
  opacity: var(--tc-supporting-text-opacity, 1);
}
.text-card .headline{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--tc-headline-text-color, var(--md-sys-color-on-tertiary-container, #663c2f));
  font-size: var(--tc-headline-font-size, 22px);
  font-weight: 500;
  text-align: center;
}
.text-card > .has-icon{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}