
#topAppBar{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box; 
	z-index: 500;
}
#topRow{
	position: relative;
	z-index: 500;
	background-color: var(  --color-scheme-surface);
	display: flex;
	gap: 4px;
	padding: 4px;
}
#topRow > md-icon-button{
	--_icon-size: 26px;
	height: 56px;
	width: 56px;
}
#topRow > #account{
	--_icon-size: 30px;
}
#topRow > #account > img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

#searchBar{
	display: flex;
	flex-grow: 1;
	height: 56px;
	border-radius: 28px;
	background-color: var(--color-scheme-surface-container-highest);
	align-items: center;
	justify-content: space-between;
}
#searchBar > span{
	padding: 16px 16px 16px 26px;
	flex-grow: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#searchBar > md-icon-button{
	--md-icon-button-state-layer-width: 56px;
	--md-icon-button-state-layer-height: 56px;
	--_icon-size: 26px;
}

#ribbonRow{
	position: relative;
	background-color: var(--color-scheme-surface);
	display: flex;
	align-items: center;
	padding: 4px 6px;
	gap: 6px;
	will-change: transform, visibility;
	z-index: 499;
	transform: translateY(-100%);
	transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1);
}
#ribbonRow.open{
	transform: translateY(0);
}

#categoryChipsWraper{
	overflow-x: auto;
	overflow-y: hidden;
}
#categoryChips{
	padding: 4px 8px;
	scrollbar-width: none;
	display: flex !important;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	mask-image: linear-gradient(
		to right,
		transparent,
		black 16px,
		black calc(100% - 16px),
		transparent
	);
}
#categoryChips::-webkit-scrollbar {
  display: none;
}
#ribbonRow > .verticalDivider{
	width: 2px;
	height: 32px;
	background-color: var(    --color-scheme-outline-variant);
}
#filterToggle{
	display: flex;
	gap: 6px;
	align-self: center;
	align-items: center;
}
#filterToggle label{
	font-size: large;
}