{% extends "layout.html" %}

{% block body %} 
    WELCOME
{% endblock %}


<!-- DO NOT USE the good one is in progress-->

            <div class="gridItemCathegory">
				<md-filled-icon-button href="/TBA">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">TBA</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/shops">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Shops</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/news">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Store News</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/sodas">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Sodas</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/chips">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Chips</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/crackers">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Crackers</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/sweets">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Sweets</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/fasting">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Fasting</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/grill">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Grill</h3>
			</div>
			<div class="gridItemCathegory">
				<md-filled-icon-button href="/beverages">
					<md-icon>category</md-icon>
				</md-filled-icon-button>
				<h3 style="margin: 0;">Beverages</h3>
			</div>