<!DOCTYPE HTML>
<html> 
	<head>
		<meta name = "viewport" content="initial-scale=1, width=device-width">
		<title> comPrix </title>
		
		

		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/contributePage.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/categoryChips.css">
		<link rel="stylesheet" type="text/css" href="../static/filterToggleTO-BE-DEPRICATED.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/filtersFAB.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/accountCenter.css">

		
		<!-- Material Web -->
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
			<script type="importmap">
			{
				"imports": {
				"@material/web/": "https://esm.run/@material/web/"
				}
			}
			</script>
			<script type="module">
				import '@material/web/all.js';
				import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

				document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
			</script>
			

			
		<!-- END OF Material Web -->

		<!-- Mobile Test

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="banner.css">
		<link rel="stylesheet" type="text/css" href="navDrawer.css">
		<link rel="stylesheet" type="text/css" href="contributeUpdatePrice.css">
		<link rel="stylesheet" type="text/css" href="contributeAnounceDiscount.css">
		<link rel="stylesheet" type="text/css" href="contributePage.css">
		<link rel="stylesheet" type="text/css" href="shopPage.css">
		<link rel="stylesheet" type="text/css" href="productPage.css">
		<link rel="stylesheet" type="text/css" href="pageGridX2.css">
		<link rel="stylesheet" type="text/css" href="navBar.css">

		-->


	</head>
	<body style="margin: 0px; font-family: 'Roboto', sans-serif; background-color: antiquewhite;">
		<!-- BEGIN BANNER -->
		<link rel="stylesheet" type="text/css" href="../static/styles/banner.css">

		<div id="banner">
			<div id="topRow">
				<md-icon-button id="navDrawerMenuBtn" class="topRowIcons navDrawerAction">
					<md-icon>menu</md-icon>
				</md-icon-button>

				<div id="searchBar" class="searchViewWindowAction">
					<span id="searchBtnText">Search in products</span>
				</div>

				<md-icon-button id="account" class="threeDotMenuComponentAction">
					<md-icon>account_circle</md-icon>
				</md-icon-button>

				
			</div>
			<div id="ribbonRow">
				<md-filled-tonal-button id="locationAriaBtn">
					<span slot="icon" class="material-symbols-outlined">near_me</span>
					Kirchentellinsfurt
				</md-filled-tonal-button>

				<!-- Advanced -->
				<div id="filterToggle">
					<label for="switchFilterToggle">Filters</label>
					<md-switch id="switchFilterToggle" icons></md-switch>
				</div>
			</div>
		</div>

		<!-- Search Feature -->

		<div id="searchFeature" class="searchViewWindowAnimation">
			<md-filled-text-field type="search" placeholder="Search..." id="searchTextField">
				<md-icon-button slot="leading-icon" class="topRowIcons searchViewWindowAction">
					<md-icon>arrow_back</md-icon>
				</md-icon-button>
				<md-icon-button slot="trailing-icon" class="topRowIcons">
					<md-icon>close</md-icon>
				</md-icon-button>
			</md-filled-text-field>
			<md-list class="autocompleteSearch">
				<md-list-item type="button">
					<div slot="headline">in brands:</div>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">by flavours:</div>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">for quantity:</div>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">in brands:</div>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">in brands:</div>
				</md-list-item>
			</md-list>
		</div>

		<div id="searchViewWindow" class="searchViewWindowAnimation">

		</div>
		

		<md-menu has-overflow positioning="popover" id="locationAriaMenu" anchor="locationAriaBtn">
			<md-sub-menu menu-corner="start-start" anchor-corner="end-end">
				<md-menu-item slot="item">
					<div slot="headline">Kusterdingen</div>
					<md-icon slot="end">arrow_drop_down</md-icon>
				</md-menu-item>
				<md-menu slot="menu" has-overflow positioning="popover" x-offset="-40" y-offset="-12">
					<md-menu-item>
						<div slot="headline">Kusterdingen</div>
						<div slot="supporting-text">Shops: 15</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Jettenburg</div>
						<div slot="supporting-text">Shops: 13</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Wankheim</div>
						<div slot="supporting-text">Shops: 9</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Mähringen</div>
						<div slot="supporting-text">Shops: 5</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Immenhausen</div>
						<div slot="supporting-text">Shops: 3</div>
					</md-menu-item>
				</md-menu>
			</md-sub-menu>
			<md-sub-menu menu-corner="start-start" anchor-corner="end-end">
				<md-menu-item slot="item">
					<div slot="headline">Kunszentmiklós</div>
					<md-icon slot="end">arrow_drop_down</md-icon>
				</md-menu-item>
				<md-menu slot="menu" has-overflow positioning="popover" x-offset="-40" y-offset="-12">
					<md-menu-item>
						<div slot="headline">Kunszentmiklós</div>
						<div slot="supporting-text">Shops: 12</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Felsőmocsolád</div>
						<div slot="supporting-text">Shops: 8</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Kisújszállás</div>
						<div slot="supporting-text">Shops: 6</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Szentmiklós</div>
						<div slot="supporting-text">Shops: 3</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Sződliget</div>
						<div slot="supporting-text">Shops: 3</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Tiszakécske</div>
						<div slot="supporting-text">Shops: 0</div>
					</md-menu-item>
				</md-menu>
			</md-sub-menu>
			<md-sub-menu menu-corner="start-start" anchor-corner="end-end">
				<md-menu-item slot="item">
					<div slot="headline">Prahova</div>
					<md-icon slot="end">arrow_drop_down</md-icon>
				</md-menu-item>
				<md-menu slot="menu" has-overflow positioning="popover" x-offset="-40" y-offset="-12">
					<md-menu-item>
						<div slot="headline">Ploiesti</div>
						<div slot="supporting-text">Shops: 56</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Campina</div>
						<div slot="supporting-text">Shops: 23</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Valenii de munte</div>
						<div slot="supporting-text">Shops: 18</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Breaza</div>
						<div slot="supporting-text">Shops: 17</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Blejoi</div>
						<div slot="supporting-text">Shops: 14</div>
					</md-menu-item>
					<md-menu-item>
						<div slot="headline">Maneciu</div>
						<div slot="supporting-text">Shops: 10</div>
					</md-menu-item>
				</md-menu>
			</md-sub-menu>
		</md-menu>

		

		<!-- END OF BANNER -->

		<!-- BEGIN navDrawer -->

		<link rel="stylesheet" type="text/css" href="../static/styles/navDrawer.css">
		
		<div class="navDrawerAnimation navDrawerStyle">
			<div style="font-size: 24px; padding: 24px;">project Mushroom</div>
			<md-divider style="padding: 0;"></md-divider>
			<md-list>
				
				<md-list-item type="button" class="navDrawerListItem" href="./news.html">
					<md-icon slot="start">newspaper</md-icon>
					News
				</md-list-item>
				
				<md-list-item type="button" class="navDrawerListItem" href="./discounts.html">
					<md-icon slot="start">percent</md-icon>
					Discounts
				</md-list-item>

				<md-list-item type="button" class="navDrawerListItem" href="./shops.html">
					<md-icon slot="start">store</md-icon>
					Shops
				</md-list-item>
				<md-list-item type="button" class="navDrawerListItem" href="./compare.html">
					<md-icon slot="start">compare_arrows</md-icon>
					Compare
				</md-list-item>
				<md-list-item type="button" class="navDrawerListItem" href="./manager.html">
					<md-icon slot="start">engineering</md-icon>
					Manager program
				</md-list-item>
			</md-list>
			<div>fluffy sheep</div>
			
		</div>

		<div id="navDrawerBlur" class="navDrawerAnimation navDrawerAction"></div>
		
		<!-- END OF navDrawer -->

		<!-- BEGIN accountCenter -->

		<div id="accountCenter">
			
			<md-icon-button id="accountCloseBtn">
				<md-icon>close</md-icon>
			</md-icon-button>
			
				<div id="accountPreview">
					<img id="accountPreviewIMG" src="https://static.mega-image.ro/medias/sys_master/products/h68/h99/9541402787870.jpg">
					
					<b>$PROFILE NAME$</b>
					<sup>$username$</sup>
					<br>
				</div>
			
			<md-list id="accountSettingsList">
				<md-list-item type="button">
					<div slot="headline">Profile</div>
					<md-icon slot="end">account_circle</md-icon>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">Achivements</div>
					<div slot="supporting-text">Score: 443</div>
					<md-icon slot="end">trophy</md-icon>
				</md-list-item>
				<md-list-item type="button" class="settingsTheme">
					<label for="themeSwitch">
						Theme MOVE IN SETTINGS 
						<div class="iconsAndThemeSwitch">
							<md-icon>light_mode</md-icon>
							<md-switch id="themeSwitch"></md-switch>
							<md-icon>mode_night</md-icon>
						</div>
					</label>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">Settings</div>
					<md-icon slot="end">settings</md-icon>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">Help</div>
					<md-icon slot="end">help</md-icon>
				</md-list-item>
				<md-list-item type="button">
					<div slot="headline">Feedback</div>
					<md-icon slot="end">feedback</md-icon>
				</md-list-item>

			</md-list>
		</div>

		<!-- END OF accountCenter -->

		<!-- BEGIN NAVIGATION-->

		<link rel="stylesheet" type="text/css" href="../static/styles/navBar.css">

		<nav id="navBar">
			<div class="navItem" onclick="window.location.href='./index.html';">
				<div class="navItemIcon active">
					<md-icon class="material-symbols-outlined">explore</md-icon>
				</div>
				<span>Explore</span>
			</div>
			<div class="navItem" onclick="window.location.href='./forme.html';">
				<div class="navItemIcon">
					<md-icon class="material-symbols-outlined">favorite</md-icon>
				</div>
				<span>For me</span>
			</div>
			<div class="navItem" onclick="window.location.href='./cart.html';">
				<div class="navItemIcon">
					<md-icon class="material-symbols-outlined">shopping_cart</md-icon>
				</div>
				<span>Cart</span>
			</div>
			<div class="navItem" onclick="window.location.href='./contribute.html';">
				<div class="navItemIcon">
					<md-icon style="font-size: 28px; width: 28px;" class="material-symbols-outlined">crowdsource</md-icon>
				</div>
				<span>Contribute</span>
			</div>
		</nav>
		<!-- END OF NAVIGATION -->
		
<!-- PAGE ITSELF -->

		
		

		<!-- BEGIN FAB MENU -->


		<md-dialog id="discardFiltersDialog" type="alert">
			<div slot="headline">
				<md-icon slot="icon">warning</md-icon>
				Filters not applied
			</div>
			<form slot="content" id="form-id" method="dialog">
				Are you sure you want to dismiss the changes?
			</form>
			<div slot="actions" class="actions">
				<md-filled-button form="form-id" value="dismiss">Dismiss</md-filled-button>
				<md-outlined-button form="form-id" value="cancel">
					<md-icon sot="icon">cancel</md-icon>
					Cancel
				</md-outlined-button>
			</div>
		</md-dialog>
		
		<!-- Search FAB -->
		
		<md-fab id="searchFAB" class="filtersFabMenuAnimation "> <!-- searchViewWindowAction -->
			<md-icon slot="icon">search</md-icon>
		</md-fab>

	
		<md-fab id="filtersConfirmFAB" class="filtersFabMenuAnimation filtersFabMenuAction filtersFabAction" label="Apply">
			<md-icon slot="icon">check</md-icon>
		</md-fab>  


		<md-elevated-button id="filtersFAB" class="filtersFabAnimation filtersFabAction filtersFabMenuAction filtersFabMenuAnimation">
			<md-icon >tune</md-icon>
			
		</md-elevated-button>

		<md-icon-button id="filtersFabIconBtnClose" class="filtersFabMenuAnimation filtersFabMenuAction filtersFabAction" toggle>
			<md-icon>close</md-icon>
		</md-icon-button>

		
		<div id="filtersFabMenuWraper" class="filtersFabMenuAnimation">
			<md-filled-tonal-button id="filterBrandBtn" trailing-icon>
				Brand
				<md-icon slot="icon">arrow_drop_down</md-icon>
			</md-filled-tonal-button>
			
			<md-filled-tonal-button id="filterflavourBtn" trailing-icon>
				flavour
				<md-icon slot="icon">arrow_drop_down</md-icon>
			</md-filled-tonal-button>

			<md-filled-tonal-button trailing-icon>
				Capacity
				<md-icon slot="icon">arrow_drop_down</md-icon>
			</md-filled-tonal-button>
			<div>
				<div class="filterOrderStack">
					<md-filled-icon-button id="filterDefaultOrderPrice" toggle class="filterDefaultOrder">
						<md-icon>height</md-icon>
						<md-icon slot="selected"> </md-icon>
					</md-filled-icon-button>
					<md-filled-tonal-icon-button id="filterOrderPrice" toggle class="filterOrder">
						<md-icon>arrow_upward</md-icon>
						<md-icon slot="selected">arrow_downward</md-icon>
					</md-filled-tonal-icon-button>
				</div>
				
				<md-filled-tonal-button id="filterPriceBtn" trailing-icon>
					price
					<md-icon slot="icon">arrow_drop_down</md-icon>
				</md-filled-tonal-button>
			</div>
			<md-filled-tonal-button id="filterTESTBtn" trailing-icon>
				Completeggggg
				<md-icon slot="icon">arrow_drop_down</md-icon>
			</md-filled-tonal-button>
			

		</div>

		<div>
			
			<div id="filterBrandMenu" class="filterMenuListsWraper">
				<div class="filterMenuListsHeadline">
					<h2>Brands</h2>
					<md-icon-button class="filterMenuListsClose">
						<md-icon>close</md-icon>
					</md-icon-button>
				</div>

				<md-divider></md-divider>

				<md-list>

					<md-list-item type="button">
						<label>
							<span>{{ brand }}</span>
							<md-checkbox value="g"></md-checkbox>
						</label>
					</md-list-item>
					<md-list-item type="button">
						<label>
							<span>{{ brand }}</span>
							<md-checkbox value="hh"></md-checkbox>
						</label>
					</md-list-item>
					
				</md-list>
			</div>
			<div id="filterflavourMenu" class="filterMenuListsWraper">
				<div class="filterMenuListsHeadline">
					<h2>flavours</h2>
					<md-icon-button class="filterMenuListsClose">
						<md-icon>close</md-icon>
					</md-icon-button>
				</div>

				<md-divider></md-divider>
				
				<md-list>
					
					<md-list-item type="button">
						<label>
							<span>{{ flavour }}</span>
							<md-checkbox value="g"></md-checkbox>
						</label>
					</md-list-item>
					<md-list-item type="button">
						<label>
							<span>{{ flavour }}</span>
							<md-checkbox value="hh"></md-checkbox>
						</label>
					</md-list-item>
					
				</md-list>
			</div>
			<div id="filterPriceMenu" class="filterMenuListsWraper">
				
				<div class="filterMenuListsHeadline">
					<h2>Price</h2>
					<md-icon-button class="filterMenuListsClose">
						<md-icon>close</md-icon>
					</md-icon-button>
				</div>

				<md-divider></md-divider>

				<md-slider id="filterPriceSlider" range min="0.00" max="20.00" value-start="0.00" value-end="20.00" step="0.01" labeled></md-slider>
				<div id="filterPriceRanges">
					<div>
						<span style="display: flex; justify-content: flex-end;">Minimum price:</span>
						<span>Maximum price:</span>
					</div>
					
					<div>
						<md-outlined-text-field id="filterPriceMin" type="number" placeholder="0.00"></md-outlined-text-field>

						<span style="display: flex; align-items: center; font-size: xx-large;">-</span>

						<md-outlined-text-field id="filterPriceMax" type="number" placeholder="20.00"></md-outlined-text-field>
					</div>
				</div>
				
			</div>
			
		</div>
		<div id="filterMenuListsBlur" class="filterMenuListsClose"></div>

		<div id="filtersFabBlur" class="filtersFabAnimation"></div>

		<!-- END OF FAB MENU -->

		<!-- BEGIN FOOTER -->
		<div class="footer">
			
		</div>
		<!-- END OF FOOTER -->

		
		<script src="../static/app.js"></script>
	</body>
</html>